@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #47b5ff;
  transition: 0.4s;
}

.bi{
  cursor: pointer
}

.free{
    color: #38b000;
}

.orange{
  color: #ffb703;
}

.cursor-pointer{
  cursor: pointer;
}

.btn{
  background-color: #47b5ff;
  border-color: #47b5ff;
  font-size: 17px;
}

.btn-sm{
  font-size: 12px;
}


a{
  font-size: 17px;
}

.btn:hover{
  background-color: transparent;
  border-color: #47b5ff;
  color: #47b5ff;
}



h1{
  font-size: 20px;
  color: #06283d;
}

h5, h6{
  font-size: 17px;
  color: #66666e;
}

p{
  margin-bottom: 0;
  text-align: justify;
  color: #889696;
}

input#textInput:focus-visible {
  outline: none;
}

@media (hover: hover) {
  a:hover {
    color: #47b5ff!important;
    background-color: #fff!important;
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    padding: 0 1rem;
  }
}

@media (max-width: 992px) {
  #app {
    padding: 0 1em;
  }
}

