@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #47b5ff;
  transition: 0.4s;
}

.btn{
  background-color: #47b5ff;
  border-color: #47b5ff;
}


.btn:hover{
  background-color: transparent;
  border-color: #47b5ff;
  color: #47b5ff;
}

@media (hover: hover) {
  a:hover {
    color: #47b5ff!important;
    background-color: #fff!important;
  }
}

@media (min-width: 1024px) {
 

  #app {
    display: grid;
    padding: 0 1rem;
  }
}

@media (max-width: 992px) {
  #app {
    padding: 0 2em;
  }
}

